.wtw_newsletter {
    padding: 60px;
}

.wtw_newsletter-input {
    display: flex;
    margin-top: 2rem;
}

.wtw_newsletter-email {
    flex: 3;
    width: 100%;
    display: flex;
}

.wtw_newsletter-input a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 600;
    flex: 1;
    gap: 5px;
}

@media screen and (max-width: 800px) {
    .wtw_newsletter {
        padding: 40px;
    }
    
    .wtw_newsletter-input {
        display: flex;
        flex-direction: column;
    }

    .wtw_newsletter-email input::placeholder {
        font-size: 20px;
    }

    .wtw_newsletter-input p {
        margin-top: 2rem;
    }
}