.wtw_newsletter {
    padding: 60px;
}

.wtw_newsletter-input {
    display: flex;
    margin-top: 2rem;
}

.wtw_newsletter-email {
    flex: 3;
    width: 100%;
    display: flex;
}

.wtw_newsletter-email input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex: 3;
    background: transparent;
    border: 1px solid #525252;
    border-radius: 10px 0 0 10px;
}

.wtw_newsletter-email input::placeholder {
    display: flex;
    text-align: center;
    font-family: Quicksand;
    font-size: 23px;
    font-weight: 500;
    line-height: 34px;
    color: #656A6F;
}

.wtw_newsletter-email button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #6404A3;
    border-radius: 0px 10px 10px 0px;
    flex: 1;
}

.wtw_newsletter-input a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 600;
    flex: 1;
    gap: 5px;
}

@media screen and (max-width: 800px) {
    .wtw_newsletter {
        padding: 40px;
    }
    
    .wtw_newsletter-input {
        display: flex;
        flex-direction: column;
    }

    .wtw_newsletter-email input::placeholder {
        font-size: 20px;
    }

    .wtw_newsletter-input p {
        margin-top: 2rem;
    }
}