.wtw_footer {
    display: flex;
    flex-direction: column;
    background: #570191;
    padding: 60px;
}

.wtw_footer-header {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.wtw_footer-logo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.wtw_footer-logo img {
    cursor: pointer;
}

.wtw_footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3;
}

.wtw_footer-text h4 {
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    color: #F5E6FE;
}

.wtw_footer-text p {
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    color: #F5E6FE;
    text-align: center;
}

.wtw_footer-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 1rem;
    color: #F5E6FE;
    flex-wrap: wrap;
}

.wtw_footer-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 2rem;
}

.wtw_footer-list p {
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.wtw_footer-list p span {
    border: 2px solid white;
    width: 110px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.wtw_footer-list:nth-child(2) p span {
    width: 82px;
}

.wtw_footer-list:nth-child(3) p span {
    width: 150px;
}

.wtw_footer-list ul {
    margin-bottom: 1rem;
}

.wtw_footer-list li {
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px; 
}

.wtw_footer-socials {
    display: flex;
    gap: 10px;
}

.wtw_footer-socials p {
    cursor: pointer;
}

.wtw_copyright {
    display: flex;
    flex-direction: column;
    background: #570191;
    padding: 30px 60px;
    color: #F5E6FE;
    border-top: 1px solid #F5E6FE;
}

.wtw_copyright p {
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
}

@media screen and (max-width: 775px) {
    .wtw_footer {
        padding: 40px;
    }

    .wtw_footer-header {
        display: flex;
        flex-direction: column;
    }
}